@model SimpleBookList.Models.BookViewModel

<script>
    $("#CancelButton").click(function () {
        $("#dialogContainer").html("");
    });
</script>

<h3>Are you sure you want to delete this Book?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorsNames)
        </dt>
        <dd>
            @Html.Raw(Model.AuthorsNames)
        </dd>
    </dl>
@using (Ajax.BeginForm("Delete",
                new AjaxOptions() { HttpMethod = "POST", OnSuccess = "OnDeleteSuccess", OnFailure = "OnFailure" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <input type="button" value="Cancel" class="btn btn-default" id="CancelButton" />
        </div>
    }
</div>

