@using SimpleBookList.Models;
@model IEnumerable<BookViewModel>
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/APIScripts")

<h2>Books List</h2>
<hr />
<div id="dialogContainer"></div>
<hr />
<p><button id="CreateNewBookButton">Add New Book</button></p>

<div data-ng-app="APIModule">
    <div ng-controller="APIController">

        <table class="table table-striped table-bordered" id="BooksListTable" cellspacing="0">
            <thead class="thead-default">
                <tr>
                    <th ng-hide="true">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pages)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        Authors
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ISBN)
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="bookViewModel in resp.data">
                    <td ng-hide="true">{{bookViewModel.Id}}</td>
                    <td>{{bookViewModel.Name}}</td>
                    <td>{{bookViewModel.ReleaseDate | date:'MM/dd/yyyy'}}</td>
                    <td>{{bookViewModel.Pages}}</td>
                    <td>{{bookViewModel.Rating}}</td>
                    <td>
                        <span data-ng-repeat="authorViewModel in bookViewModel.Authors">
                            {{authorViewModel.FirstName}} {{authorViewModel.LastName}}
                        </span>
                    </td>
                    <td>{{bookViewModel.Publisher}}</td>
                    <td>{{bookViewModel.ISBN}}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>


